body {
    font-family: Arial, serif;
    font-size: 15px;
}
.hidden {
    display: none;
}

#app {
    position: relative;
}

.loading {
    position: absolute;
    right: 0;
    z-index: 1000;
    background-color: aliceblue;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ccc;
    font-style: italic;
}

table,
table th,
table td {
    padding: 3px 0.5rem;
    border-collapse: collapse;
}

.table-border {
    border: 1px none #777;
}

.border-bottom {
    border-bottom-style: solid;
}
.border-left {
    border-left-style: solid;
}

.control {
    margin: 1em auto;
    text-align: center;
}

.display-none {
    display: none;
}

.score-tables .box {
    margin: 2em auto;
    text-align: center;
}

.score-tables .box {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
}

.score-tables table,
.score-tables table th,
.score-tables table td {
    border: 1px solid #777;
    text-align: center;
}
.score-tables table td:not(.team-title) {
    width: 1rem;
}

.score-tables table td.team-title {
    text-align: left;
}

.score-tables .empty-cell {
    background-color: #aaa;
}
.empty-board {
    text-align: center;
    color: #aa5555;
}

.play-off {
    margin: 3rem auto;
    min-width: 400px;
    max-width: 1000px;
}

.play-off th {
    width: 25%;
}

.btn-large {
    font-size: 120%;
}
