body {
    font-family: Arial, serif;
    font-size: 15px;
}
.hidden {
    display: none;
}

.play-off {
    margin: 1rem auto;
    min-width: 400px;
    max-width: 800px;
}

.play-off th {
    width: 25%;
}

table,
table th,
table td {
    padding: 3px 0.5rem;
    border-collapse: collapse;
}

.table-border {
    border: 1px none #777;
}

.border-bottom {
    border-bottom-style: solid;
}
.border-left {
    border-left-style: solid;
}

.control {
    margin: 1em auto;
    text-align: center;
}

.display-none {
    display: none;
}

.board .box {
    margin: 2em auto;
    text-align: center;
}

.board .box {
    display: inline-block;
    vertical-align: top;
    margin: 1rem;
}

.board table,
.board table th,
.board table td {
    border: 1px solid #777;
    text-align: center;
}
.board table td:not(.team-title) {
    width: 1rem;
}

.board table td.team-title {
    text-align: left;
}

.board .empty-cell {
    background-color: #aaa;
}
.empty-board {
    text-align: center;
    color: #aa5555;
}

